{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
{# <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style> #}

<div class="example-wrapper">
    <div class="jumbotron text-center">
        <h1>Hello {{ controller_name }}! ✅</h1>
        <button class="btn btn-outline-primary"><a href="{{ path('app_contact')}}">Let's talk</a></button>

        <img src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="Fruit bowl" width="900" height="600"/>
    </div>

    <!-- Grid container -->
    <div class="container p-4">

        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <img src="https://images.unsplash.com/photo-1504754524776-8f4f37790ca0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="Fruit bowl" width="600" height="400"/>
            <!--Grid column-->
            </div>

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h1>Delicious food creates memories</h1>
                <p>Belton is food studio that not just caters out deliciousness, but lives by the philosophy that nothing brings people together like good food. Whatever the occasion that you need our food for, whatever dietary requirements, we will make it happen.</p>
                <button class="btn btn-outline-primary"><a href="{{ path('app_about_us') }}">Our story</a></button>
            <!--Grid column-->
            </div>
        </div>
    <!-- Grid container -->    

    </div>
    <h1 class="text-center">Our offers for your occasion or event</h1>
    <ul class="meals-wrapper">
    {% for key, meal in meals %}
        <li class="list-group-item text-center">
            {{key}}: {{meal}}
        </li>
    {% endfor %}
    </ul>
    <img src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="Fruit bowl" width="900" height="600"/>


    <div>
        <h1>First, we eat. Then we do everything else. Let us take care of food at your special event.</h1>
        <button class="btn btn-outline-primary"><a href="{{ path('app_contact')}}">Get in touch</a></button
    </div>

</div>
{% endblock %}
